# DO NOT EXPOSE THIS FILE PUBLICLY AFTER FILLING IN VALUES!!
#
# This file is a sample for the .env file.
# Follow the format and assign placeholder values to all variables.
# Replace the placeholder values with actual values.

# For security reasons,
# it is recommended to define the following API keys and tokens
# as system environment variables whenever possible.

# ANTHROPIC_API_KEY=your_anthropic_api_key
# OPENAI_API_KEY=your_openai_api_key
# DISCORD_BOT_TOKEN=your_discord_bot_token

ADMIN_USER_IDS=1234567890,1234567891
AUTHORIZED_SERVER_IDS=1234567890,1234567891
BOT_NAME=suisei

DB_NAME=suisei.db

CHAT_MAX_TOKENS=1000
CHAT_MODEL=gpt-model
CHAT_TEMPERATURE=0.4
CHAT_TOP_P=0.99

FIXPY_MAX_TOKENS=1000
FIXPY_MODEL=claude
FIXPY_TEMPERATURE=0.7
FIXPY_TOP_P=1.0

TIMEZONE=Asia/Tokyo
